.ButtonBarContainer {
  display: flex;
  flex-direction: row;
}
.buttonContainer {
  margin: 0px 25px 0px 25px;
}
.autocomplete-container {
    position: relative;
    width: 240px;
    height: 300px;
    margin: 20px auto;

  }
  
  input[type="text"] {
    width: 240px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
  }

  .suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
    width: 240px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
  }
  
  .suggestion-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .suggestion-list li:hover {
    background-color: #f0f0f0;
  }
  