/* BUTTONS */

/* outer container */
.ButtonBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  /* background-color: rgb(150, 62, 150); */
  background: rgb(29,0,65);
  background: linear-gradient(90deg, rgba(29,0,65,1) 0%, rgba(121,9,110,1) 50%, rgba(136,42,177,1) 100%);
}

/* input container div */
.buttonContainer {
  /* margin: 0px 25px 0px 25px;
  padding: 40px 0px 40px 0px; */
}

/* onClick border (removed) */
.autocompleteInputField:focus {
  outline: none;
}x

.autocomplete-container {
    position: relative;
    width: 240px;
    height: 300px;
    margin: 20px auto;
  }
  
  input[type="text"] {
    width: 210px;
    height: 100px;
    padding: 10px;
    border: 4px solid rgba(255, 255, 255, 0.7);
    border-radius: 12px;

    font-size: 16px;
    font-weight: 400;
    color: #fff;

    background-color: rgba(255, 255, 255, 0.3);;
  }
  
  input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #ffffff;
  }

  ::placeholder {
    color: #fff;
  }


  /* SUGGESTIONS */

  .suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    position: absolute;
    z-index: 1;
    width: 190px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 12px 12px;
    background-color: #fff;
  }
  
  .suggestion-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* hover colour */
  .suggestion-list li:hover {
    background-color: #cd8eeb;
  }

  /* SEARCH BUTTON SVG*/

  .searchButton{
    width: 60px;
    height: 80px;
  }

  .searchButton:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px #ff91ee)
  }
  