.navbar-brand{
    font-family: 'Merriweather', serif !important;
    color:#313232 !important;
    font-size: 50px !important;
    font-weight: bold;
    
}

.brand-logo {
    height: 30px;
    width: auto; 
    margin-right: 10px; 
}


.navbar-nav{
    padding-right: 15px;
    padding-left: 15px;

}
