@font-face {
  font-family: "SkyRegular";
  src: url(./SkyRegular.ttf);
}
@font-face {
  font-family: "SkyBold";
  src: url(./SkyBold.ttf);
}
@font-face {
  font-family: "SkyMedium";
  src: url(./SkyMedium.ttf);
}
@font-face {
  font-family: "SkyLight";
  src: url(./SkyLight.ttf);
}

/* BUTTONS */

/* outer container */
.ButtonBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 280px;
  /* background-color: rgb(150, 62, 150); */
  background: rgb(29, 0, 65);
  background: linear-gradient(
    90deg,
    rgba(29, 0, 65, 1) 0%,
    rgba(121, 9, 110, 1) 50%,
    rgba(136, 42, 177, 1) 100%
  );
}

.tagline {
  color: white;
  border: none;
  line-height: none;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  font-family: "SkyRegular";
  font-weight: bold;
  margin-left: -860px;
}

.buttonBar-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttonContainer {
  padding: 10px;
  position: relative;
}

.buttonContainer__input {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  transition: outline-color 250ms;
}
.buttonContainer__input:focus {
  outline-color: #3c50eb;
}

.buttonContainer__label {
  font-family: "SkyRegular";
  position: absolute;
  top: 37px;
  left: 10px;
  transform: translate(10px, 10px) scale(1.1);
  transform-origin: left;
  color: #fff;
  transition: transform 200ms;
}

.buttonContainer__input:focus + .buttonContainer__label,
.buttonContainer__input:valid + .buttonContainer__label {
  transform: translate(10px, -10px) scale(0.9);
}

/* onClick border (removed) */
.autocompleteInputField:focus {
  outline: none;
}

.autocomplete-container {
  position: relative;
  width: 240px;
  height: 300px;
  margin: 20px auto;
}

.autocompleteInputField {
  width: 210px;
  height: 100px;
  padding: 10px;
  border: 4px solid rgba(255, 255, 255, 0.7);
  border-radius: 12px;
  font-family: "SkyRegular";
  font-size: 18px;
  font-weight: 400;
  color: #fff;

  background-color: rgba(255, 255, 255, 0.3);
}

.autocompleteInputField:hover {
  box-shadow: 0 0 5pt 0.5pt #ffffff;
}

::placeholder {
  color: #fff;
}

/* SUGGESTIONS */

.suggestion-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
  width: 190px;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 12px 12px;
  background-color: #fff;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* hover colour */
.suggestion-list li:hover {
  background-color: #cd8eeb;
}

/* SEARCH BUTTON SVG*/

.searchSvg {
  width: 60px;
  height: 80px;
  padding-left: 10px;
}

.searchButton:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px #ff91ee);
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.searchButton:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
