.navbar {
    background: linear-gradient(90deg, rgba(29,0,65,1) 0%, rgba(121,9,110,1) 50%, rgba(136,42,177,1) 100%);
    color: white;
    padding-top: 25px !important;
}

.navbar-brand{
    font-family: 'Merriweather', serif !important;
    color:#ffffff !important;
    font-size: 50px !important;
    font-weight: bold;
    padding-left: 80px;
}

.nav-link{
    color: white !important;
    padding-right: 100px !important;
}

.brand-logo {
    height: 30px;
    width: auto; 
    margin-right: 10px; 
}

.navbar-nav{
    padding-right: 15px;
    padding-left: 15px;

}

.accountIcon {
    margin-right: 100px;
}